<a href="https://colab.research.google.com/github/Kassaum/Absenteeism-Case-Study/blob/master/Absenteeism_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Creating a Logistic regression to predict Absenteeism**

## Import the Libraries

In [0]:
import pandas as pd
import numpy as np

## Mount Drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Load the Data

In [0]:
data_preprocessed = pd.read_csv('/content/drive/My Drive/Absenteeism/Absenteeism_preprocessed.csv')

In [4]:
data_preprocessed.head()

   Unnamed: 0  Reason_1  Reason_2  ...  Children  Pets  Absenteeism Time in Hours
0           0         0         0  ...         2     1                          4
1           1         0         0  ...         1     0                          0
2           2         0         0  ...         0     0                          2
3           3         1         0  ...         2     0                          4
4           4         0         0  ...         2     1                          2

[5 rows x 16 columns]